table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

h1 {
    text-align: center;
}

h2 {
    margin: 5px 5px 5px 5px;
    text-align: center;
}

form {
    background-color: indianred;
    border-radius: 5px;
    padding: 5px 10px;
}